.title{
    margin-top: 64px;
    margin-left: 100px;
}
.text-dekor{
    text-decoration: none;
}
.title-black{
    font-family: , sans-serif;
    font-size: 40px;
}
.colortext{
    font-family: ,sans-serif;
    font-size: 40px;
    color: blue;
}
.conteiner{
    width: 810px;
    height: 46px;
    margin-top: 30px;
    margin-left: 100px;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.nav-inline-blocks1{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 15px 24px 15px 24px;
    text-decoration: none;
}
.container2{
    width: 810px;
    height: 46px;
    margin-top: 30px;
    margin-left: 100px;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.nav-inline-blocks2{
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 15px 15px 15px 15px;
    text-decoration: none;
}
.block_1{
    display: inline-block;
    width: 220px;
    height: 250px;
    margin-left: 100px;
    margin-top: 30px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}
